.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 109px;
    background-color: var(--dark-blue);
}

.brand {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.middleMenu {
    display: flex;
    align-items: center;
    margin-left: 176px;
}

.menuItem {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-left: 89px;
    cursor: pointer;

    color: #FFFFFF;
}

.menuItem:nth-child(1) {
    margin-left: 0;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login {
    margin-right: 43px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    cursor: pointer;

    text-align: right;

    color: #FFFFFF;
}